/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require dataTables.bootstrap.min 
 *= require font-awesome
 *= require animate.min
 *= require creative 
 *= require_tree .
*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */




.ft{
  text-align:center;
  position: inherit;
  bottom: -0px;
  padding-top: 5px;
}

.ftdash{
  position: absolute;
  bottom:0px;
  padding-bottom: 5px;
}


.reqInfo{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.reqInfoOrder{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
 background-color: #E6E6E6;
}

.loginPanel{
  background-color: #424242;
}

.notice, .valid_notice, .invalid_notice{
  height: auto; 
  width: auto ;
  margin-top:5px;
}
.notice, .invalid_notice p, .valid_notice p{
  text-align:center;
  margin-top:6px;
}

.notice{
  background-color: transparent;
  color: #222222; 
}

.bg-custom{
	background-color: #F2F2F2;
}

.invalid_notice{
  background-color: #EB3812;
  border:1px solid red;
}
.valid_notice{
  background-color: #01DF01;
  border:1px solid green;
}

.popover{
    width:600px;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}