<!DOCTYPE html>
<html>
<head>
  <title>Tide</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", "http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">


		

		<%= yield %>



</body>
</html>
